@font-face {
    font-family: nexa;
    src: url('../../fonts/NexaBold/NexaRegular.otf');
    font-weight: normal;
}

@font-face {
    font-family: nexa;
    src: url('../../fonts/NexaBold/NexaRegularItalic.otf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: nexa;
    src: url('../../fonts/NexaBold/NexaBold.otf');
    font-weight: bold;
}

@font-face {
    font-family: nexa;
    src: url('../../fonts/NexaBold/NexaBoldItalic.otf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: nexa;
    src: url('../../fonts/NexaBold/NexaThin.otf');
    font-weight: 100;
}

@font-face {
    font-family: nexa;
    src: url('../../fonts/NexaBold/NexaThinItalic.otf');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: nexa;
    src: url('../../fonts/NexaBold/NexaLight.otf');
    font-weight: 200;
}

@font-face {
    font-family: nexa;
    src: url('../../fonts/NexaBold/NexaLightItalic.otf');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: nexa;
    src: url('../../fonts/NexaBold/NexaXBold.otf');
    font-weight: 900;
}

@font-face {
    font-family: nexa;
    src: url('../../fonts/NexaBold/NexaXBoldItalic.otf');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: nexa;
    src: url('../../fonts/NexaBold/NexaHeavy.otf');
    font-weight: 700;
}

@font-face {
    font-family: nexa;
    src: url('../../fonts/NexaBold/NexaHeavyItalic.otf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: nexa;
    src: url('../../fonts/NexaBold/NexaBook.otf');
    font-weight: 400;
}

@font-face {
    font-family: nexa;
    src: url('../../fonts/NexaBold/NexaBookItalic.otf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: nexa;
    src: url('../../fonts/NexaBold/NexaBlack.otf');
    font-weight: 900;
}

@font-face {
    font-family: nexa;
    src: url('../../fonts/NexaBold/NexaBlackItalic.otf');
    font-weight: 900;
    font-style: italic;
}
