.siteName_section{
    padding: 0em 0em 4em 0em;

    .container{
        border-top: 1px solid;
        border-bottom: 1px solid;
    }

    .image_wrapper{

    }
}

@media screen and (max-width:575px){
    .siteName_section{
        padding: 0em;
    }
}